<%- include('partials/header.ejs') %>

<h1>Bienvenido</h1>


<div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="usuarios">Inicio </a>
        </li>   
    </ul>

</div>